
HaKelvinBot/.vs/

.vs/

HaKelvinBot/bin/

HaKelvinBot/obj/

HaKelvinBot/HaKelvinBot/bin/x64/Debug/netcoreapp3.1/HaKelvinBot.dll

HaKelvinBot/HaKelvinBot/bin/x64/Debug/netcoreapp3.1/HaKelvinBot.pdb

HaKelvinBot/HaKelvinBot/obj/x64/Debug/netcoreapp3.1/HaKelvinBot.csprojAssemblyReference.cache

HaKelvinBot/HaKelvinBot/obj/x64/Debug/netcoreapp3.1/HaKelvinBot.dll

HaKelvinBot/HaKelvinBot/obj/x64/Debug/netcoreapp3.1/HaKelvinBot.pdb

HaKelvinBot/HaKelvinBot/obj/x64/Debug/netcoreapp3.1/HaKelvinBot.csproj.CoreCompileInputs.cache

HaKelvinBot/HaKelvinBot/config.yaml
